@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/strange-piece');
@import url('https://fonts.cdnfonts.com/css/strasua');
@import url('https://fonts.cdnfonts.com/css/retro-christa');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');
@import url('https://fonts.cdnfonts.com/css/gregean-brush');
@import url('https://fonts.cdnfonts.com/css/metal-macabre');
@import url('https://fonts.cdnfonts.com/css/frostbites');
@import url('https://fonts.cdnfonts.com/css/maria-2');

*{
    margin: 0;
    padding: 0;
}
html{
    background-attachment:fixed;
    height: 100%;
}
body{
    font-family: "Poppins", sans-serif;
    color: #8b1515;
    background-color: #0d0d0e;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0px 3px 5px #050505bf;
    overflow: hidden;
}

#Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.center{
    margin: 0 auto;
    text-align: center;
}

.main-box{
    opacity: 0;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.container{
    max-width: 600px;
    margin: auto;
}
i{
    font-size: 20px;
    margin-right: 5px;
}
.glass{
    background: none !important; 
    border-radius: 12px;
    backdrop-filter: blur(30px); 
    box-shadow: #f0efef00 0px 0px 0px 1px; 
    transition: backdrop-filter 0.4s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
    min-height: 175px;
}
.pfp-image{

    border-radius: 100%;
    object-fit: cover;
    border: 0px solid #8b1515;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 150px;
    max-width: 130px;
    height: 130px;
}
.username{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.own{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    float: right;
}

.ripple {
    background: linear-gradient(90deg, #8b1515 30%, #8b1515 50%, #8b1515 70%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #8b1515;
    animation: breathing 3s linear infinite;
}

@keyframes breathing {
    0% {
        background-position: 150%;
    }
    100% {
        background-position: -50%;
    }
}

.badge{
    cursor: pointer;
    margin-top: 5px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.75));
    width: 10px;
    height: 10px;
}

.badge1{
    cursor: pointer;
    margin-top: 5px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.75));
    width: 10px;
    height: 10px;
}

.bio{
    font-size: 16px;
    font-weight: 500;
    color: #030202;
}
.social-icons{
    text-shadow: 0 0 1.5rem #000000;
    margin-top: 0px;
    color: #000000;
    font-size: 30px;
    transition: 0.2s ease-in-out;
}
.links {
    display: flex;
    flex-direction: column; /* Ensures the links stack vertically */
    align-items: center;    /* Centers the links horizontally */
    justify-content: center; /* Centers the links vertically */
  }
.links a {
    display: block;
    text-decoration: none;
    color: #000000;
    background: #8b1515;
    margin-bottom: 30px;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    width: 70%;
  }

  .links a:hover {
    background: #8a8989;
    color: #000000;
    box-shadow: 0 0 10px #8b1515;
  }
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #8b1515;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -63px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.social-icons:hover{
    transform: scale(1.1);
}
.spotifys{
    margin-bottom: 50px;
}
.socials{
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
}
.badge{
    width: 25px;
    height: 25px;
}
.snow{
    width: 25px;
    height: 25px;
}
.disc-name{
    font-weight: 600;
    font-size: 16px;
}
.flex-display{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 1px;
    border: 1px solid #8b1515;
    width: 50%;
    margin: auto;
    border-radius: 20rem;
    margin-top: 20px;
    cursor: pointer;
}
.disc{
    font-size: 16px;
    margin-right: 5px;
    color: #8b1515;
    text-shadow: #000000 0px 0px 9px;
}
.btn-link {
	animation: up 2s;
	padding: 16px 44px;
	width: 95%;
	text-align: center;
	background-color: #0d0d0e;
	border: 0 solid #1c1c1c;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 17px 1px rgba(0, 0, 0, .57);
	-moz-box-shadow: 0 0 17px 1px rgba(0, 0, 0, .57);
	box-shadow: 0 0 17px 1px rgba(0, 0, 0, .57);
	cursor: pointer;
	color: #8b1515;
	transition: transform .25s ease, color .25s ease, background-color .25s ease, border-color .25s ease;
	margin-bottom: 22px;
	font-weight: 400;
	font-family: poppins
}

.btn-link:hover {
	-webkit-box-shadow: 0 0 20px 1px #8b1515;
	-moz-box-shadow: 0 0 20px 1px #8b1515;
	box-shadow: 0 0 20px 1px #8b1515;
	transform: scale(.95)
}

.btn-link:active {
	transform: scale(.92)
}

.mark{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
.mark:hover{
    text-decoration: none;
}
.background{
    padding: 80px 0px;
}
.blur{
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(8px); 
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 30px 0px;
    margin-top: 80px;
}
@keyframes down {
    from {
        transform: translate3d(0, -150px, 0);
        opacity:0
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
@keyframes up {
    from {
        transform: translate3d(0, 150px, 0);
        opacity:0
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
from {opacity: 0;} 
to {opacity:0.8;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:0.8 ;}
}
@media only screen and (max-width: 768px) {
    .blur{
        max-width: 100%;
    }
  }
  @media only screen and (min-width: 2000px) {
    .blur{
        max-width: 50%;
    }
  }

.blurpage{
    background:rgb(0 0 0/20%);
    backdrop-filter:blur(10px);
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:all .5s ease-in-out
}
.blurpagerplc{background:0 0;backdrop-filter:none}
.blurpagerplc2{width:10%;height:10%}

.musicbtn{
    font-size:16px;
    color:#8b1515;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50px;padding:14px;
    border:none;
    border-radius:5px;
    outline:none;
    box-shadow:2px 2px 4px rgba(0,0,0,.4);
    cursor:pointer;
    transition:all 2s ease-out;
    transition-timing-function:cubic-bezier(.1,1,0,1);
    transform-origin:right top;
    opacity:.8
}
.musicbtn:hover{
    opacity:1
}

audio{
    display:none
}
.replace{
    transform:translate(0,0);
    opacity:.2;
    top:0;
    left:0
}
.replace:hover{
    opacity: .5;
}

*,
:after,
:before {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#8b1515;
  --tw-ring-color:#8b1515;
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: 
}
::backdrop {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#8b1515;
  --tw-ring-color:#8b1515;
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: 
}
#count {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.8rem;
    color: #8b1515;
    opacity: 0.8;
}
